@model IEnumerable<Final_Assignment1.Models.Vehicle>

@{
    ViewBag.Title = "Financial report";
}

<h2>View financial report</h2>

<p>
    My company sold @ViewBag.TotalVehiclesSold cars. The income is $ @ViewBag.income.  We have @ViewBag.TotalVehiclesAvailable cars stock.
</p>

