@model IEnumerable<Final_Assignment1.Models.Vehicle>

@{
    ViewBag.Title = "Financial report";
}

<h2>View financial report</h2>

<p>
    Total vehicles sold:  @ViewBag.TotalVehiclesSold cars.
</p>

<p>Total vehicles remaining to sell:  @ViewBag.TotalVehiclesAvailable cars</p>

<p>Income gained:  $ @ViewBag.income.</p>