
@{
    ViewBag.Title = "Add Data to Database";
}

<h2>Add Data to Database</h2>

@Html.ActionLink("Add Vehicles", "Create", "Vehicles")
<br />
@Html.ActionLink("Add Makes", "Create", "Makes")
<br />
@Html.ActionLink("Add Models", "Create", "Models1")
<br />
@Html.ActionLink("Add Vehicle Type", "Create", "VehicleTypes")